*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    height: 120vh;
    background-image: radial-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url(https://assets.nflxext.com/ffe/siteui/vlv3/1ef84595-1fdb-4404-adac-15215ceeb3ae/aa41a3af-205e-493b-820d-191cffa64596/PL-pl-20220711-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-blend-mode: darken;
    background-size:contain;
    background-position: center;
    position: relative;
    border-bottom: 10px solid rgb(80, 80, 80);
}

.header__upper_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__h1{
    padding: 10px 70px;
    color: #e50914;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

.form{
    margin: 20px 25px;
}

.form__select{
    font-size: 15px;
    margin: 10px;
    padding: 8px;
    color: white;
    background-color: #00000095;
    border: 1px solid white;
}

.form__button{
    cursor: pointer;
    padding: 8px 20px;
    color: white;
    background-color: #e50914;
    border: 2px solid transparent;
}

.form__button--upper{
    margin-left: 20px;
    font-size: 18px;
    border-radius: 3px;
}

.header__lower_content{
    color: white;
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30%;
}

.header__p{
    display: block;
    max-width: 51%;
    line-height: 65px;
    text-align: center;
}

.header__p--big{
    font-size: 60px;
    font-weight: 700;
}

.header__p--mid{
    font-size: 25px;
    font-weight: 600;
}

.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p__email{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.email__form{
    margin-top: 20px;
    display: flex;
    min-width: 65vw;
    max-width: 80vw;
    min-height: 70px;
    justify-content: stretch;
    border-radius: 0;
}

.form__input{
    padding: 10px;
    flex-grow: 4;
    font-size: 16px;
}

.form__button--lower{
    font-size: 30px;
}

.section{
    height: 300vh;
    background-color: black;
    color: white;
}

.section__article{
    height: 75vh;
    border-bottom: 10px solid rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
}

.article__text{
    margin: 20px 0 20px 150px;
}

.article__title{
    font-size: 55px;
    margin-bottom: 10px;
}

.article__description{
    font-size: 25px;
}

.section__art_wrapper{
    margin-right: 200px;
    min-width: 30%;
    height: 80%;
    position: relative;
}

.section__art_wrapper--even{
    order: -1;
}

.video{
    position: absolute;
    width: 120%;
    top: 20%;
    left: 20%;
}

.video--small{
    width: 98%;
    top: 10%;
    left: 25%;
}


.image{
    position: absolute;
    width: 150%;
}

.card{
    background-color: black;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 20px;
    min-height: 20vh;
    transform: translate(25%, 200%);
}

.card__lower_text{
    font-size: 15px;
    color: blue;
}

.card__animation{
    flex-grow: 1;
    justify-self: flex-end;
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif);
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    transform: translate(40%, -10%);
}

.image--small{
    margin: 1vh;
    padding: .6vh;
    width: 20%;
    position: static;
}

.lower__content{
    background-color: black;
    color: white;
}

.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq__h2{
    font-size: 50px;
    margin: 7vh;
}

.faq__questions{
    display: flex;
    flex-direction: column;
}

.question{
    list-style: none;
    min-width: 60vw;
    background-color: rgb(45, 45, 45);
    margin: 0.8vh 0;
    padding: 2vh 5vh;
    font-size: 25px;
}

.question__link{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question__link_text{
    color: white;
}

.question___link_plus{
    color: white;
    font-size: 40px;
}

.email--lower{
    padding: 9vh 0;
    border-bottom: 10px solid rgb(80, 80, 80);
}

.footer{
    background-color: black;
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10vh 40vh 5vh 40vh;
}

.footer__links{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.li__link{
    list-style: none;
}

.link{
    line-height: 20px;
    text-decoration: none;
}

.link__text{
    line-height: 20px;
    color: rgb(100, 100, 100);
}

.link__text:hover{
    text-decoration: underline;
}

.form--footer{
    margin-left: -10px;
}
